In [4]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None
Paris_listings = pd.read_csv("paris_airbnb.csv")

np.random.seed(1)
Paris_listings = Paris_listings.loc[np.random.permutation(len(Paris_listings))]

stripped_commas = Paris_listings["price"].str.replace(',',"")
stripped_dollars = stripped_commas.str.replace('$',"")
Paris_listings["price"] = stripped_dollars.astype("float")

set_training = Paris_listings.iloc[0:10]
set_test = Paris_listings.iloc[6000:]

def test_predict_price (new_listing): 
    temp_df = set_training.copy()
    temp_df["distance"] = temp_df["accommodates"].apply(lambda x: np.abs(x-new_listing))
    temp_df = temp_df.sort_values("distance")
    mean_price = temp_df.iloc[0:10]["price"].mean()
    return mean_price

C:\Users\yayas\AppData\Local\Temp\ipykernel_12724\527536000.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  stripped_dollars = stripped_commas.str.replace('$',"")

In [2]:
set_test["predicted_price"] = set_test["accommodates"].apply(lambda x :test_predict_price(x))

In [3]:
set_test.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,predicted_price
4465,96%,NaN,28.0,48.89318,2.31884,Paris,75017,Paris province,2,Entire home/apt,0.0,1.0,1.0,63.0,$100.00,$400.00,14,180,61,124.1
3154,100%,NaN,2.0,48.85114,2.29728,Paris,75015,Île-de-France,5,Entire home/apt,1.0,1.0,4.0,120.0,$50.00,$200.00,1,120,102,183.4
1969,65%,NaN,93.0,48.85134,2.33359,Paris,75006,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,149.0,$60.00,$600.00,30,1125,5,95.3
2713,NaN,NaN,1.0,48.87320,2.38649,Paris,75020,Île-de-France,4,Entire home/apt,2.0,1.0,1.0,79.0,$65.00,$299.00,2,1125,5,149.0
5578,100%,NaN,1.0,48.85691,2.36013,Paris,75004,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,51.0,$25.00,$150.00,4,15,17,124.1